*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/packages/*/dist
/packages/*/tsconfig.tsbuildinfo
/tmp
/node_modules
/packages/*/node_modules
/.bun
.env
.env.*
!.env.example
tsconfig.tsbuildinfo

yarn.lock
package-lock.json
.video-agent/
